@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none;
  }
  
  /* 隐藏滚动条，但仍然允许滚动 */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }