@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


[lang=zh-CN] {
  font-family: "MuzaiPixel";
  font-weight: 200;
}

[lang=en] {
  font-family: "Jersey 10", sans-serif;
}

/* * {
  font-family: "Jersey 10", sans-serif, "MuzaiPixel";
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */